

Proyecto2_Clinica/Inicio/obj/Debug/PLL.csprojAssemblyReference.cache
Proyecto2_Clinica/Inicio/obj/Debug/PLL.csproj.CoreCompileInputs.cache
Proyecto2_Clinica/.vs/Proyecto2_Clinica/v15/.suo
Proyecto2_Clinica/.vs/Proyecto2_Clinica/v15/Server/sqlite3/storage.ide-shm
Proyecto2_Clinica/.vs/Proyecto2_Clinica/v15/Server/sqlite3/storage.ide-wal

Proyecto2_Clinica/.vs/Proyecto2_Clinica/v15/Server/sqlite3/storage.ide-wal
Proyecto2_Clinica/.vs/Proyecto2_Clinica/v15/Server/sqlite3/storage.ide-shm
Proyecto2_Clinica/.vs/Proyecto2_Clinica/v15/.suo
Proyecto2_Clinica/.vs/config/applicationhost.config
Proyecto2_Clinica/BLL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
Proyecto2_Clinica/BLL/obj/Debug/DAL.csproj.FileListAbsolute.txt
Proyecto2_Clinica/BLL/obj/Debug/DAL.csprojAssemblyReference.cache
Proyecto2_Clinica/BLL/obj/Debug/DAL_Cliente.csproj.CoreCompileInputs.cache
Proyecto2_Clinica/BLL_Cliente/obj/Debug/BLL_Cliente.csproj.CoreCompileInputs.cache
Proyecto2_Clinica/BLL_Cliente/obj/Debug/BLL_Cliente.csprojAssemblyReference.cache
Proyecto2_Clinica/BLL_Cliente/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Proyecto2_Clinica/BLL_Cliente/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Proyecto2_Clinica/BLL_Cliente/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Proyecto2_Clinica/BLL_Cliente/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Proyecto2_Clinica/BLL_Cliente/Properties/AssemblyInfo.cs
Proyecto2_Clinica/Inicio/obj/Debug/Inicio.dll
Proyecto2_Clinica/Inicio/obj/Debug/Inicio.pdb
Proyecto2_Clinica/Inicio/obj/Debug/PLL.csproj.CoreCompileInputs.cache
Proyecto2_Clinica/Inicio/obj/Debug/PLL.csproj.FileListAbsolute.txt
Proyecto2_Clinica/Inicio/obj/Debug/PLL.csprojAssemblyReference.cache
