
Proyecto2_Clinica/Inicio/obj/Debug/PLL.csprojAssemblyReference.cache
Proyecto2_Clinica/Inicio/obj/Debug/PLL.csproj.CoreCompileInputs.cache
Proyecto2_Clinica/.vs/Proyecto2_Clinica/v15/.suo
Proyecto2_Clinica/.vs/Proyecto2_Clinica/v15/Server/sqlite3/storage.ide-shm
Proyecto2_Clinica/.vs/Proyecto2_Clinica/v15/Server/sqlite3/storage.ide-wal
