body {
    margin: 0;
    padding: 0;
    background: url(../images/gallery-02.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 320px;
    height: 499px;
    background: #33CC99;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

    .login-box .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }

    .login-box h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }

    .login-box a {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }



    .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }

    .login-box input {
        margin-bottom: 43px;
    }

        .login-box input[type="text"], .login-box input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .login-box input[type="submit"] {
            border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    background: #002060;
    color: #fff;
            font-size: 18px;
            border-radius: 20px;
    margin-right: 2px;
}

            .login-box input[type="submit"]:hover {
                cursor: pointer;
                background: #062950;
                color: #fff;
            }

    .login-box a {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
    }

        .login-box a:hover {
            color: #fff;
        }
