

body {
    margin: 0;
    padding: 0;
    background: url(../images/registermedical.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.register-box {
    width: 455px;
    height: 560px;
    background: #A4BBD4;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-55%, -55%);
    box-sizing: border-box;
    padding: 75px 35px;
}

    .register-box .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }

    .register-box h1 {
        margin: 0;
        
        padding: 0 0 20px;
        text-align: center;
        font-size: 26px;
    }

    .register-box a {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }



    .register-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }

    .register-box input {
        width: 100%;
        margin-bottom: 20px;
    }

        .register-box input[type="text"], .register-box input[type="email"], .register-box input[type="checkbox"], .register-box input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .register-box input[type="submit"] {
            border: none;
            outline: none;
            height: 27px;
            background: #062950;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
        }

            .register-box input[type="submit"]:hover {
                cursor: pointer;
                background: #062950;
                color: #fff;
            }

    .register-box p {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
    }

        .register-box a:hover {
            color: #fff;
        }
